body{
	background: white url(../images/master-bg.jpg) left top repeat;
	font-family: 'HelveticaNeue', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3;
}

header{
	ul.main-nav{
		list-style-type: none;
		margin: 0px;
		li{
			float: left;
			a{
				text-transform: uppercase;
				display: inline-block;
				*display: inline;
				zoom: 1;
			}
			&:before{
				content: " | ";
			}
			&:first-child:before{
				content: '';
			}
		}
	}
}